<ngx-spinner fullScreen="false">
    <p style="font-size: 20px; color: white">{{'processing' | translate}}</p>
</ngx-spinner>
<alert fade="true"></alert>
<div class="row {{ adminContainer}}">
    <div class="col-sm-12">
        <div class="card shadow-lg card-body">
            <div class="form-group row">
                <div class="col-sm-12">
                    <p>Add Admin</p>
                </div>
                <div class="col-sm-6 mb-3">
                    <input class="form-control" placeholder="Name..." #admin_name>
                </div>
                <div class="col-sm-6 mb-3">
                    <input class="form-control" placeholder="User Name..." #admin_username>
                </div>
                <div class="col-sm-6 mb-3">
                    <input class="form-control" type="password" placeholder="Password..." #admin_password>
                </div>
                <div class="col-sm-6 mb-3">
                    <select class="form-control" #admin_region>
                        <option value="" disabled selected>Select Regions</option>
                        <option *ngFor="let region of regions" value="{{region.id}}">{{ region.name}}</option>
                    </select>
                </div>

                <div class="col-sm-2 mb-3">
                    <button class="btn bg-base-color2 btn-rounded text-white"
                            (click)="createAdmin(admin_name.value,admin_username.value,admin_password.value,admin_region.value)">
                        <strong>Add Admin</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row {{ updateContainer}}" *ngIf="user != null">
    <div class="col-sm-12">
        <div class="card shadow-lg card-body">
            <div class="form-group row">
                <div class="col-sm-12"><p>Update User</p></div>
                <div class="col-sm-4 mb-3">
                    <label>Name</label>
                    <input class="form-control" placeholder="Name..." value="{{user.name}}"
                           #user_name_update>
                    <!-- <input class="form-control hidden" value="{{product.category.id}}" #cat_id_update> -->
                </div>
                <div class="col-sm-2 mb-3">
                    <label>User Name</label>
                    <input class="form-control" placeholder="Price..." value="{{user.username}}"
                           #user_username_update>
                </div>
                <div class="col-sm-3 mb-2">
                   
                </div>
                <div class="col-sm-3 mb-2">
                    
                </div>

                <div class="col-sm-2 mb-3">
                    <button class="btn bg-base-color2 btn-rounded text-white"
                            (click)="updateUser(user.id,user_name_update.value, user_username_update.value)">
                        <strong>Update User</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-sm-12">
        <div class="card shadow-lg card-body">
            <div class="col-sm-6">
                <h3>Users</h3>
            </div>
            <div class="row {{ adminContainer}}">
                <div class="col-sm-6">
                    <select class="form-control" #user_role_list >

                        <option value="2" selected>Admin</option>
                        <option value="3">Customer</option>
                    </select>
                </div>
                <div class="col-sm-6" (click)="filterByRole(user_role_list.value)">
                    <button class="btn btn-primary" ><i class="fa fa-filter"></i> Filter</button>
                </div>
                

                
            </div>
            <br>
            <table datatable [dtOptions]="dtOptions" style="width: 100% !important;"
                   class="table-striped table-hover table-bordered" [dtTrigger]="dtTrigger">
                <thead class="bg-base-color text-white text-center">
                <tr>
                    <th>ID</th>
                    <th> Name</th>
                    <th> Username</th>
                    <th>Role</th>
                    <th>Region</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody *ngIf="users?.length != 0">
                <tr *ngFor="let user of users" class="text-center">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        <span *ngFor="let role of user.roles" class="badge badge-pill bg-dark text-white"
                      style="margin-right: 10px"> {{role.name}}</span>

                    </td>
                    <td>
                        <div *ngIf="user.region !=null">
                            {{user.region.name}}
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-rounded btn-primary" (click)="getUserById(user.id)">Edit User
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
